*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top,#214b8b,rgb(83, 33, 70),black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    min-height: 80vh;
    width: 70%;
    background: white;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(0.5rem);
    border-radius: 30px;
    z-index: 2;
    padding: 2% 4% 2% 1%;
}
.circle1, .circle2{
    position: absolute;
    height: 30%;
    width: 15%;
    border-radius: 50%;
}
.circle1{
    top: 3%;
    right: 8%;
    background: linear-gradient(to left bottom, 
    rgba(250,250,250.1), rgba(83, 33, 70,0.6), rgba(0,0,0,0.5));
}
.circle2{
    top: 66%;
    left: 8%;
    background: linear-gradient(to left bottom, 
    rgba(250,250,250,0.6), rgba(83, 33, 70,0.6), rgba(0,0,0,0.4));
}
.border{
    width: 95%;
    height: 10%;
    background-color: rgb(230, 227, 227);
    margin-bottom: 2%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 3px rgb(63, 60, 60);
    padding-right: 4%;

}
.error1{
    color: red;
}
.checkboxs{
    display: flex;
}
